@charset "utf-8";
body{padding:0px; margin:0px auto;-webkit-text-size-adjust:none;color:#3d3d3d;}
ul, li,form, fieldset, legend, button, input, textarea, th, td,img,h2{margin:0 auto; padding:0;}
body,button, input, select, textarea {font: 12px/1.5 '宋体',tahoma, Srial, helvetica, sans-serif; }
ul, ol { list-style: none; }
table{padding:0px; margin:0px auto;text-align:center;}
img{border:none;}
a { text-decoration: none; color:#4c4c4c;}
a:hover {text-decoration: none; color:#e43a3d;}
.clear{ clear:both;}

.g_head{height:30px;background-color: #333;margin-top: 10px;}
.g_searchcontrol{width:100%;text-align: center;margin-left: auto;margin-right: auto;margin-top:160px;}
.g_kwinput{width:521px;height: 20px; font-size:16px; border: 1px,solid;line-height: 20px; padding: 7px 9px 12px 7px;}
.g_submit{height: 42px;width:80px;}
.g_serchdiv{margin-top: 20px;}
.g_logo{height: 96px;width: 535px;}
.g_bottom{position:absolute; bottom:0; width:100%; height:40px; background: #f2f2f2;float:right; text-align:center; line-height:40px}


.l_head{height:70px;background-color: #e5e5e5;margin-top: 10px;}
.l_logo{height: 30px;width: 175px;margin-top: 20px;float:left;margin-left: 15px;}
.l_kwinput{width:521px;height: 20px; font-size:16px; border: 1px,solid;line-height: 20px; padding: 7px 9px 12px 7px;}
.l_serchdiv{margin-top: 13px;margin-left: 8px;float:left;}
.l_result{}
.l_left{width:36%;height:100px;margin-left: 150px;float:left;}
.l_right{width:40%;height:100px;margin-left: 50px;float:left;background-color: gray;}

.result_content{ margin-bottom: 14px;}





